<footer>
    <p>&copy; 2025 AJ Tracker. All rights reserved.</p>
    <p>
      <a href="/privacypolicy">Privacy Policy</a> |
      <a href="/techstack">Tech Stack</a> |
      <a href="/contactus">Contact Us</a>
    </p>
</footer>
</body>
</html>