<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="home-main">
    <a href="page1.html" class="home-box">Track Phones</a>
    <a href="/laptops" class="home-box">Track Laptops</a>
</div>
<%- include('partials/footer') %>
