<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="home-main">
    <a href="/404" class="home-box">Track Phones</a>
    <a href="/laptophome" class="home-box">Track Laptops</a>
</div>
<%- include('partials/footer') %>
