<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="home-main">
    <a href="/laptophome/product" class="home-box">specific product</a>
</div>
<%- include('partials/footer') %>
