<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
    <div class="product-card">
      <img src="/images/iphone15.png" alt="iPhone 15 Image">
      <div class="product-info">
        <h2>Apple iPhone 15 (128 GB) - Black</h2>
        <p class="price">₹59,300 <span class="original-price">₹1,09,900</span></p>
        <div class="tags">
          <span class="tag green">Best Time to Buy</span>
          <span class="tag orange">46% OFF</span>
        </div>
        <p>
          This is one of the lowest prices recorded in the last 12 months. <br />
          Based on price history data, there's less than a 15% chance of price drop.
        </p>
      </div>
    </div>
    <div class="chart-section">
      <h3 style="margin-bottom: 1rem;">Price History (12 Months)</h3>
      <canvas id="priceChart"></canvas>
    </div>
</div>


<%- include('partials/footer') %>
